// HEADER

header {
    background-image: url(../assets/home-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    padding-top: 20px;
    position: relative;
    background-position: center;

}

.home-header-flex {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

.home-header-flex-2 {
    display: flex;
    height: 80%;
    flex-direction: column;
    justify-content: flex-end;


}

nav.home-main-nav {
    width: 40%;
    margin-top: 50px;
}

ul.header-nav {
    display: flex;
    padding: 0;
    
}

ul.header-nav li {
	padding-right: 50px;
}


.header-nav li {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    font-style: bold;
    color: #ffffff;
    list-style: none;

}

.home-title {
    font-family: 'IM Fell English', serif;
    color: $yellow;
    font-style: italic;
    font-size: 8rem;
    text-transform: uppercase;
    
}

h1.home-title {
    display: block;
    margin: 0;
}


h1 span {
    display: block;
}

.header-boat-image {
    position: absolute;
    width: 55%;
    right: 0;
    bottom: -80px;
}

label {
    font-size: 40px;
    color: white;
	display: none;
}

#toggle {
	display: none;
}

// SECTION 2

.section-2 {
    background: $lightblue;
    padding-top: 165px;
        p {
            font-family: 'Roboto', sans-serif;
            font-size: 1.5rem;
            line-height: 20px;
            letter-spacing: 1px;
            margin: 0;
            padding-left: 60px;
        }
     

}

.home-section-2-top, .home-section-2-bottom {
    display: flex;
    flex-wrap: wrap;
        h2 {
            font-family: 'IM Fell English', serif;
            color: $darkblue;
            font-size: 3rem;
            line-height: 99px;
            font-style: italic;
            margin: 0;
            text-transform: uppercase;
        }
}



.home-section-2-item {
    width: calc(50% - 20px);
    margin: 10px;
    
} 

.home-section-2-bottom {
    padding-bottom: 100px;
}

.fas {
    background: $yellow;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    vertical-align: middle;
    font-size: 2rem;

}

// section 3

.section-3 {
    background: $darkblue;
    padding-top: 20px;
        p {
            font-family: 'Roboto', sans-serif;
            font-size: 1.5rem;
            line-height: 20px;
            letter-spacing: 1px;
            margin: 0;
            padding: 0px;
            color: white;
            text-align: left;
    }
}

.home-section-3-top, .home-section-3-bottom {
    display: flex;
    flex-wrap: wrap;
        h2 {
            font-family: 'IM Fell English', serif;
            color: white;
            font-size: 3.5rem;
            line-height: 99px;
            font-style: italic;
            margin: 0;
            text-transform: uppercase;

    }
}


.home-section-3-item {
    width: calc(50% - 20px);
    margin: 10px;
        button {
            background: $yellow;
            padding: 5px;
            color: $darkblue;
            font-family: 'IM Fell English', serif;
            font-size: 2.5rem;
            font-style: italic;
            margin-top: 40px;
        }
    
}

img.boat-image-class{
    margin-left: -10px;
    box-shadow: 15px 15px 0px $yellow;
    width: 90%;

}

.home-section-3-boat-image {
    position: relative;
    left: 0;
    top: -60px;
    
    
}

.go-left {
    text-align: left;
    padding-left: 50px;
}

.go-right {
    text-align: right;
    padding-right: 50px;
}

.go-right-hidden {
    display: none;
}

.home-section-3-boat-image-2 {
    position: relative;
    right: -67px;
    bottom: -32px;
}

img.boat-image-class-2{
    box-shadow: -15px 15px 0px $yellow;
    width: 90%;

}


// SECTION 4

.section-4 {
    background: $lightblue;
    padding-top: 60px;
        h2 {
            font-family: 'IM Fell English', serif;
            color: $darkblue;
            font-size: 3.5rem;
            line-height: 99px;
            font-style: italic;
            margin: 0;
            text-align: center;
            text-transform: uppercase;

        }
}

.section-4 p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    line-height: 20px;
    letter-spacing: 1px;
    margin: 0 15% 0 15%;
    padding: 0px;
    color: $darkblue; 
}
.section-4-button {
    background: $yellow;
    padding: 5px;
    color: $darkblue;
    text-align: center;
    font-family: 'IM Fell English', serif;
    font-size: 2.5rem;
    font-style: italic;
    margin-top: 40px;
}

.section-4-button-div-to-center {
    text-align: center;
    padding-bottom: 60px;
}

// SECTION 5

.section-5 {
background: url(../assets/banner.jpg);
background-repeat: no-repeat;
background-size: cover;
height: 60vh;
background-position: center;

}

// SECTION 6

.section-6 {
    background: $lightblue;
    padding: 60px 0;
        h2 {
            font-family: 'IM Fell English', serif;
            color: $darkblue;
            font-size: 3.5rem;
            line-height: 99px;
            font-style: italic;
            margin: 0;
            text-transform: uppercase;
    }
}

.section-6 p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    line-height: 20px;
    letter-spacing: 1px;
    margin: 0;
    padding: 0px;
    color: $darkblue;

}

.section-6-container {
    display: flex;
    flex-wrap: wrap;
    min-height: 100%;
    justify-content: space-between;
    align-items: center;



}

.section-6-item-left-side {
    width: 30%;

}
    

.section-6-item-right-side {
    width: 65%;

}

img.section-6-left-side-image {
    box-shadow: -15px 15px 0px $yellow;
}

.section-6-button {
    background: $yellow;
    padding: 5px;
    color: $darkblue;
    text-align: center;
    font-family: 'IM Fell English', serif;
    font-size: 2.5rem;
    font-style: italic;
    margin-top: 20px;

}

// SECTION 7

.section-7 {
    background: $darkblue;
    padding: 60px 0;
}

.section-7-container {
    display: flex;
    flex-direction: row;

}

.section-7-gallery {
    width: calc(33.33% - 20px);
    margin: 10px;
}

// FOOTER

footer {
    background: $yellow;
        p {
            text-align: center;
            font-family: 'Roboto', sans-serif;
            font-size: 1.5rem;
            line-height: 20px;
            letter-spacing: 1px;
            margin: 0;
            padding: 0;
        }
}


// RESPONSIVE DESIGN


@media (max-width: 1200px) {

    .header-boat-image {
        bottom: -35px;
    }

}

@media (max-width: 1030px) {

	.header-boat-image {
		display: none;

    }
    
    .section-2 {
        padding-top: 50px;
    }
}

@media (max-width: 920px) {

    // Stack section 3

    .home-section-3-boat-image {
        position: static;
    }
    
    .home-section-3-item {
        width: 100%;
        margin: 10px;
        h2 {
            text-align: center;
        }
    }
    
    .button-to-center-responsive {
        text-align: center;
    
    }
    
        
    img.boat-image-class {
        width: 100%;
    
    }
    
    .home-section-3-boat-image-2 {
        position: static;
    
    }
    
    img.boat-image-class-2 {
        width: 100%;
    
    }
    
    .go-left {
        padding: 0 0 30px 0;
    }
    
    .go-right {
        display: none;
    }
    
    .go-right-hidden {
        display: block;
        padding-bottom: 50px;
    
    }
    
    .section-3 {
        padding-top: 60px;
    }

}



@media (max-width: 787px) {


    header {
        height: 60vh;
    }

    // Hamburger

    ul.header-nav {
        display: none;
        padding: 0;
            
    }

    
    .home-main-nav label {
        display: block;
        padding-right: 0px;
    }
        
    .home-main-nav {
        margin: 0 50px 0 0;
    }

    .header-nav {
        text-align: center;
        width: 100%;
        display: none;
    }
        
    .header-nav a {
        display: block;
        margin: 0;
        padding: 3px;
    }
        
        
    #toggle:checked + .header-nav {
        display: block;
        
    }

    // General

    .home-section-2-item {
        width: 100%;
    }

    .home-section-2-bottom {
        padding-bottom: 50px;

    }

    .home-section-2-top h2, .home-section-2-bottom h2 {
        margin-bottom: -25px;
    }
    
    .section-4 {
        padding-top: 50px;
    }

    .section-4 p {
        margin: 0;
    }

    .section-6 {
        padding-top: 30px;
        padding-bottom: 50px;
        h2 {
            font-size: 3rem;
        }

    }

    .home-header-flex-2 {
        height: 55%;
    }

}


@media (max-width: 516px) {

    // Reduce size of main title

    .home-title {
        font-size: 5rem; 

        }

}

@media (max-width: 660px) {

// Stack section 6
    .section-6-item-left-side {
        display: none;
    
        }
    
    .section-6-item-right-side {
        width: 100%;
    }

    .section-6 h2 {
        line-height: 50px;
    }

 // Remove bottom images
    .section-7 {
        display: none;
    }

}

@media (max-width: 389px) {

    // General touch-ups

    .section-2 {
        padding-top: 20px;
        h2 {
            font-size: 2.5rem;
        }
    }


    #nav-responsive-margin {
        margin: 0;
      }

      .section-4 h2 {
          font-size: 2.5rem;
      }


      .section-5 {
          height: 40vh;
      }


      .section-6 {
          padding: 50px 0;
      }

    .section-6 h2 {
        line-height: 55px;

    }

    footer {
        background: $darkblue;
        color: white;
    }

}

