article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

/*<!--general ruleszzzzz-->*/
html {
  font-size: 62.5%;
}

.wrapper {
  max-width: 1180px;
  margin: 0 auto;
  border: 1px solid tomato;
}

img {
  max-width: 100%;
  max-height: 100%;
}

a {
  text-decoration: none;
}

header {
  background-image: url(../assets/home-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  padding-top: 20px;
  position: relative;
}

.home-header-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.home-header-flex-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

nav.home-main-nav {
  width: 40%;
  margin-top: 50px;
}

ul.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}

ul.nav li {
  padding-right: 50px;
}

.nav li {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  font-style: bold;
  color: #ffffff;
  list-style: none;
}

.home-title {
  font-family: 'IM Fell English', serif;
  color: #fdd908;
  font-style: italic;
  font-size: 8rem;
  text-transform: uppercase;
}

h1.home-title {
  display: block;
  margin: 0;
}

h1 span {
  display: block;
}

.header-boat-image {
  position: absolute;
  width: 55%;
  right: 0;
  bottom: -100px;
}

.section-2 {
  background: #eafefc;
  padding-top: 175px;
}

.section-2 p {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  line-height: 20px;
  letter-spacing: 1px;
  margin: 0;
  padding-left: 60px;
}

.home-section-2-top, .home-section-2-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.home-section-2-top h2, .home-section-2-bottom h2 {
  font-family: 'IM Fell English', serif;
  color: #0d457f;
  font-size: 4.5rem;
  line-height: 99px;
  font-style: italic;
  margin: 0;
}

.home-section-2-item {
  width: calc(50% - 20px);
  margin: 10px;
}

.home-section-2-bottom {
  margin-bottom: 100px;
}

.fas {
  background: #fdd908;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  vertical-align: middle;
  font-size: 2rem;
}

.section-3 {
  background: #0d457f;
  padding-top: 20px;
}

.home-section-3-top, .home-section-3-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.home-section-3-item {
  width: calc(50% - 20px);
  margin: 10px;
}

img.boat-image-class {
  margin-left: -10px;
  -webkit-box-shadow: 15px 15px 0px #fdd908;
          box-shadow: 15px 15px 0px #fdd908;
}

.home-section-3-boat-image {
  position: relative;
  left: 0;
  top: -60px;
}
